#homepage {
    padding: 3rem 0;
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
}

#page-section {
    margin-top: 3rem;
}

#list-section {
    margin-top: 1rem;
}

#list-section .item-title{
    max-width: 65%;
}