@media(min-width: 375px) {
    .item-title{
        max-width: 65%!important;
        font-size: 20px!important;
    }
}

.item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 55%;
    font-size: 16px;
}